
/* Main site */
.container1 {
    margin-left: 300px;
    width: 300px;
}

.mentorLogo {

}

.loginMentor {
    text-decoration: none;
    color: black;
    
}

.loginPadawan {
    text-decoration: none;
    color: black;

}

.aboutUs {
    text-decoration: none;
    color: black;
}




/* About us site */
.aboutUsDiv {
    font-size: 20px;
    margin: 2% 2% 2% 2%;
    padding: 20px 20px 20px 20px
    

}

/* Login pages */






.loginPageDiv {
    
    font-size: 100%;
    padding: 20%;
    
    
    
}

input {
font:inherit
}

p {

text-align: justify;
text-indent: 0px;
line-height: 110%;
letter-spacing: 1px;
word-spacing: 0px;
font-weight:normal;



}